<!DOCTYPE html>
{% extends 'base.html' %}

{% block body %}

<form action="{{ url_for('create_news') }}" method="get">
    <button class="btn-warning" type="submit">Поделиться новостью</button>
</form>
<!-- <button class="btn-warning" href="{{ url_for('create_news') }}">Поделиться новостью</button> -->


<div>
    {% for new in news %}
        <div class="news">
            {% if username == new.author.login %}
            <p> <b>Пользователь: </b>Вы</p>
            {% else %}
            <p> <b>Пользователь: </b> <a href="{{ url_for('user', user=new.author.login)}}">{{ new.author.login }}</a></p>
            {% endif %}
            <p> <b>Заголовок: </b> {{ new.title }}</p>
            <p> <b>Текст: </b> {{ new.text }}</p>
            {% if new.media_path %}
                {% set relative_path = new.media_path.split('flask_socialnet/')[-1].replace('\\', '/') %}
                <img class="novost_img" src="{{ url_for('static', filename=relative_path) }}" alt="Изображение новости">
            {% endif %}
            <form action="{{ url_for('show_new', news_id=new.id) }}" method="get" style="display:inline;">
                <button type="submit">Просмотр</button>
            </form>
            <p><b>Комментарии: </b> {{ new.comments|length }}</p>
        </div>
    {% endfor %}
</div>














{% endblock %}